body {
    background-image: url('Images/background.jpg');
    background-size: cover; /* Ajustez la taille de l'image à la fenêtre du navigateur */
    background-position: center center; /* Centrer l'image */
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5); /* Ajouter l'effet d'ombrage */
}


header {
    /*background-color: rgba(0, 0, 0, 0.9); /* Couleur de fond pour l'en-tête */
    color: #fff;
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.project {
    background-color: rgba(34,36, 50, 0.5); /* Couleur de fond pour chaque section de projet */
    color: #fff;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

a {
    color: #007BFF; /* Couleur du lien */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Effet au survol du lien */
}
