body {
    background-image: url('Images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0; /* Pour éliminer la marge par défaut du corps */
    padding: 0; /* Pour éliminer le rembourrage par défaut du corps */
}

.conteneur {
    max-width: 800px; /* Largeur maximale du contenu de la page */
    margin: 50px auto; /* Centrer le contenu de la page */
    padding: 20px;
    text-align: center; /* Aligner le texte au centre */
}

h1 {
    text-align: center; /* Centre le texte à l'intérieur de l'élément h1 */
    font-size: 50px; /* Ajustez la taille de police selon vos préférences */
}
